AWSTemplateFormatVersion: "2010-09-09"
Transform: AWS::Serverless-2016-10-31
Description: >
  NFScrapper

  Lambda function to do web scrapper on NFE

Parameters:
  AWS_ACCESS_KEY_ID:
    Type: String
    Description: "AWS CONFIG"
    Default: ""

  AWS_SECRET_ACCESS_KEY:
    Type: String
    Description: "AWS CONFIG"
    Default: ""

  AWS_REGION:
    Type: String
    Description: "AWS CONFIG"
    Default: ""
     
  AWS_PUBLISH_DATA_TOPIC_ARN:
    Type: String
    Description: "SNS TO SEND MESSAGE"
    Default: ""


Globals:
  Function:
    Timeout: 30
    MemorySize: 512

Resources:
  NFPublishedSNS:
    Type: AWS::SNS::Topic
    Properties:
      FifoTopic: true
      TopicName: "NFPublishedSNS.fifo"

  NFScrapperSQS:
    Type: AWS::SQS::Queue
    Properties:
      QueueName: "NFScrapperSQS.fifo"
      FifoQueue: true

  Subscription:
    Type: "AWS::SNS::Subscription"
    Properties:
      TopicArn: !Ref NFPublishedSNS
      Endpoint: !GetAtt NFScrapperSQS.Arn
      Protocol: sqs
      RawMessageDelivery: true

  NFScrapperSQSQueuePolicy:
    Type: "AWS::SQS::QueuePolicy"
    Properties:
      Queues:
        - !Ref NFScrapperSQS
      PolicyDocument:
        Statement:
          - Effect: "Allow"
            Principal: "*"
            Action:
              - sqs:SendMessage
            Resource:
              - !GetAtt NFScrapperSQS.Arn
            Condition:
              ArnEquals:
                "aws:SourceArn": !Ref NFPublishedSNS

  NFScrapperFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: scrapper/
      Handler: app.lambdaHandler
      Runtime: nodejs18.x
      Architectures:
        - x86_64
      Environment:
        Variables:
          AWS_ACCESS_KEY_ID: !Ref AWS_ACCESS_KEY_ID
          AWS_SECRET_ACCESS_KEY: !Ref AWS_SECRET_ACCESS_KEY
          AWS_REGION: !Ref AWS_REGION
          AWS_PUBLISH_DATA_TOPIC_ARN: !Ref AWS_PUBLISH_DATA_TOPIC_ARN
      Events:
        SqsEvento:
          Type: SQS
          Properties:
            Queue: !GetAtt NFScrapperSQS.Arn
    Metadata:
      BuildMethod: esbuild
      BuildProperties:
        Minify: true
        Target: "es2020"
        Sourcemap: true
        EntryPoints:
          - app.ts

Outputs:
  NFPublishedSNS:
    Description: "NFPublishedSNS Function ARN"
    Value: !GetAtt NFPublishedSNS.Arn
